@charset "utf-8";

@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),  
		 url('../fonts/icomoon.woff') format('woff'),
		 url('../fonts/icomoon.ttf')  format('truetype'),
		 url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'UbuntuBold';
	src: url('../fonts/UbuntuBold.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'UbuntuMedium';
	src: url('../fonts/UbuntuMedium.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'UbuntuRegular';
	src: url('../fonts/UbuntuRegular.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SFUIDisplayRegular';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/SFUIDisplayRegular.otf') format('otf'),
		 url('../fonts/SFUIDisplayRegular.ttf') format('truetype'),
		 url('../fonts/SFUIDisplayRegular.woff') format('woff');
}

@font-face {
	font-family: 'SFUIDisplayMedium';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/SFUIDisplayMedium.otf') format('otf'),
		 url('../fonts/SFUIDisplayMedium.ttf') format('truetype'),
		 url('../fonts/SFUIDisplayMedium.woff') format('woff');
}

@font-face {
	font-family: 'SFUIDisplayBold';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/SFUIDisplayBold.otf') format('otf'),
		 url('../fonts/SFUIDisplayBold.ttf') format('truetype'),
		 url('../fonts/SFUIDisplayBold.woff') format('woff');
}

@font-face {
	font-family: 'SFUIDisplayLight';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/SFUIDisplayLight.otf') format('otf'),
		 url('../fonts/SFUIDisplayLight.ttf') format('truetype'),
		 url('../fonts/SFUIDisplayLight.woff') format('woff');
}


html,
body {
	position: relative;
}
body {
	min-width: 1000px;
	font-size: 14px;
	text-align: left;
	font-family: 'UbuntuRegular', Sans-Serif;
	overflow-x: hidden;
	-webkit-text-size-adjust: none;
	color: #1b1b1b;
	line-height: 18px;
}
a{
	text-decoration: none;
	color: #1b82c7;
}
li{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}
label.error{
	display: none !important;
}
input.error,textarea.error{
	border-bottom: 2px solid #F00 !important;
}
.ps-lines{

}
	.ps-lines li.v{
		position: fixed;
		left: 50%;
		height: 100%;
		width: 1px;
		top: 0px;
		background-color: #00ffff;
		opacity: 0.8;
		z-index: 9999;
	}
	.ps-lines li.g{
		position: absolute;
		left: 0px;
		width: 100%;
		height: 1px;
		background-color: #00ffff;
		opacity: 0.8;
		z-index: 9999;
	}
.fancybox-inner{
	overflow: visible !important;
}
.bold{
	font-family: 'UbuntuBold';
}
.underline{
	text-decoration: underline;
}
.white{
	color: #FFF;
}
.hide{
	display: none !important;
}
.b{
	position: relative;
}
.b-block{
	position: relative;
	width: 1110px;
	margin: 0px auto;
}
.b-wide-block {
    position: relative;
    max-width: 1920px;
    width: 100%;
    min-width: 1110px;
    margin: 0px auto;
}
.b-absolute{
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -500px;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{
	color: #1b82c7;
}
input:-moz-placeholder,
textarea:-moz-placeholder{
	color: #1b82c7;
}
[class^="icon-"]:before, 
[class*="icon-"]:before,
[class^="icon-"]:after, 
[class*="icon-"]:after,
.fancybox-close-small:after,
ul.b-breadcrumbs li:after{
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.b-btn{
	text-align: center;
	padding: 14px 20px;
	font-family: 'UbuntuMedium';
	font-size: 16px;
	text-transform: uppercase;
	border-radius: 5px;
    display: inline-block;
    line-height: 18px;
    min-width: 260px;
    letter-spacing: 0.5px;
}

/*.b-btn-white{
	background-color: #fff;
	color: #1b82c7;
	border: 3px solid #1b82c7;
	padding: 11px 0;
}
	.b-btn-white:hover{
		background-color: #136aa4;
		color: #fff;
	}*/

.b-btn-blue{
	background-color: #1b82c7;
	color: #fff;
}
	.b-btn-blue:hover{
		background-color: #136aa4;
	}

.b-btn-transparent{
	border: 2px solid #1b82c7;
	background-color: transparent;
	padding: 12px 0;
}

	.b-btn-transparent:hover{
		background-color: #136aa4;
		color: #fff;
		border: 2px solid #136aa4;
	}

h1.b-title{
	text-transform: uppercase;
	font-size: 46px;
	font-family: "UbuntuMedium", Sans-Serif;
	margin-bottom: 25px;
	line-height: 50px;
	color: #FFF;
	letter-spacing: 0.6px;
}

h2.b-title{
	text-transform: uppercase;
	font-size: 24px;
	font-family: "UbuntuBold", Sans-Serif;
	padding-top: 36px;
	margin-bottom: 16px;
	color: #1b1b1b;
	letter-spacing: 1.15px;
	line-height: 30px;
}

h3.b-title{
	font-size: 20px;
	font-family: "UbuntuMedium", Sans-Serif;
	margin-bottom: 14px;
	color: #1b1b1b;
	line-height: 20px;
	letter-spacing: 0.5px;
}

h4{
	font-size: 16px;
	font-family: "UbuntuRegular", Sans-Serif;
}

.b-center{
	text-align: center;
}

.b-text{

}
	.b-text a{
		border-bottom: 1px solid #1b82c7;
	}

	.b-text ul {
	    list-style: none;
	    margin-bottom: 15px;
	}

		.b-text ul li{
	    	padding-left: 26px;
		}

		.b-text ul li:before {
		    content:  "—";
		    position: relative;
		    left:     -5px;
		}

		.b-text ul.mark-img li{
			background-image: url(../i/mark.png);
			background-repeat: no-repeat;
			background-position: 0 2px;
			background-size: 15px;
			margin-bottom: 5px;
			padding-left: 22px;
		}

		.b-text ul.mark-img li:before{
			display: none;
		}

	.b-text h4{
		font-size: 14px;
		font-family: 'UbuntuBold';
		margin-bottom: 8px;
	}

	.b-text b{
		font-family: 'UbuntuBold';
	}

.b-center-content{
	text-align: center;
}

.b-table{
	display: table;
}

.b-table-cell{
	display: table-cell;
	vertical-align: top;
}

.b-table-cell-middle{
	display: table-cell;
	vertical-align: middle;
}

.underline-list li a{
	text-decoration: underline;
    font-size: 16px;
    color: #1b1b1b;
    line-height: 16px;
    border-bottom: 0;
}

.icon-arrow-down:after{
	content: '\e907';
    display: block;
    position: absolute;
    right: 0;
    top: 9px;
    font-size: 10px;
    color: #7f7f7f;
    cursor: pointer;
    pointer-events: none;
}

.icon-arrow-down-rotate.icon-arrow-down:after{
	-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
    

input, textarea{
	border: none;
	width: 100%;
	color: #1b1b1b;
	font-family: 'UbuntuRegular';
	background-color: transparent;
	font-size: 16px;
    vertical-align: top;
    border-bottom: 2px solid #1b82c7;
    padding-bottom: 7px;
}

textarea{
	resize: none;
}

select{
	border: none;
	width: 100%;
	color: #1b1b1b;
	font-family: 'UbuntuMedium';
	background-color: transparent;
	font-size: 19px;
    vertical-align: top;
    border-bottom: 3px solid #e0e0e0;
    padding-bottom: 11px;
    cursor: pointer;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select-wrapper{
	position: relative;
}

.select-wrapper:hover:after{
	color: #1b1b1b;
}

/*------Чекбоксы------*/

.b-wrap-input input[type="checkbox"]{
	display: none;
}
.b-wrap-input input[type="checkbox"] + label{
	position: relative;
	padding-left: 25px;
	min-width: 31px;
	letter-spacing: 0px;
	line-height: 19px;
	cursor: pointer;
	display: inline-block;
	margin-bottom: 12px;
}
.b-wrap-input input[type="checkbox"] + label:hover{
	color: #282B2E;
}
.b-wrap-input input[type="checkbox"] + label:before{
	position: absolute;
	content: "s";
	font-size: 0px;
	left: 0px;
	top: 2px;
	border-radius: 10px;
	width: 11px;
	height: 11px;
	border: 1px solid #979797;
}
.b-wrap-input input[type="checkbox"] + label:before{
	border-radius: 0px;
}
.b-wrap-input input[type="checkbox"] + label:hover:before{
	border-color: #282B2E;
}
.b-wrap-input input[type="checkbox"] + label:after{
	position: absolute;
	content: "s";
	font-size: 0px;
	width: 9px;
	height: 9px;
	left: 2px;
	top: 4px;
	background-color: #979797;
	border-radius: 10px;
	display: none;
}
.b-wrap-input input[type="checkbox"] + label:after{
	border-radius: 0px;
}
.b-wrap-input input[type="checkbox"] + label:hover:after{
	background-color: #1b1b1b;
}
.b-wrap-input input[type="checkbox"]:checked + label{
	color: #1b1b1b;
}
.b-wrap-input input[type="checkbox"]:checked + label:before{
	border-color: #1b82c7;
}
.b-wrap-input input[type="checkbox"]:checked + label:after{
	background-color: #1b82c7;
	display: block;
}

/*--------------------*/

ul.mark-numbers li{
	margin-bottom: 10px;
}

	ul.mark-numbers li span,
	.question-block .question-icon{
		display: inline-block;
	    text-align: center;
	    width: 16px;
	    height: 16px;
	    border-radius: 100px;
	    border: 1px solid #FFF;
	    color: #FFF;
	    font-size: 8px;
	    line-height: 16px;
	    vertical-align: middle;
	    padding-left: 1px;
	}

	ul.mark-numbers li p{
		display: inline-block;
		color: #FFF;
		border-bottom: 1px solid #FFF;
		margin-left: 10px;
		font-size: 16px;
		margin-bottom: 0;
	}

	ul.mark-numbers-blue li span{
	    color: #1b82c7;
		border: 1px solid #1b82c7;
	}

	ul.mark-numbers-blue li p{
		color: #1b1b1b;
		border-bottom: 0;
	}



/*--------Главная--------*/

.b-top{
	background-color: #e1e1e1;
}

	.b-top .b-wide-block {
	    background-color: #e1e1e1;
	    padding: 5px 0;
	}

		.b-top-content{
			float: right;
		}

			ul.b-top-content li{
				float: left;
				display: inline-block;
				margin-right: 48px;
			}

			ul.b-top-content li:last-child{
				margin-right: 0;
			}

			.b-top-content .contact-info{
				display: inline-block;
				padding-top: 5px;
				color: #1b1b1b;
				font-family: 'SFUIDisplayRegular';
				border-bottom: 1px solid #bbbbbb;
			}

			.b-top-content .contact-info:hover{
				color: #08579a;
				border-bottom: 1px solid #8194a5;
			}

			.social-icons{
				text-align: center;
			}

				.social-icons a{
					float: left;
					display: inline-block;
					width: 30px;
					height: 30px;
					margin-right: 8px;
				}

				.icon-facebook:before {
				    content: "\e902";
				    font-size: 16px;
				    color: #9b9b9b;
				    line-height: 28px;
				}

				.icon-vk:before {
				    content: "\e905";
				    font-size: 21px;
				    color: #9b9b9b;
				    line-height: 27px;
				}

				.icon-instagram:before {
				    content: "\e903";
				    font-size: 14px;
				    color: #9b9b9b;
				    line-height: 28px;
				}

				.icon-cabinet{
					float: left;
				}

				.icon-cabinet:before {
				    content: "\e904";
				    font-size: 16px;
				    color: #183d6c;
				    line-height: 18px;
				    margin-right: 5px;
				}

				.icon-facebook:hover:before,
				.icon-vk:hover:before,
				.icon-instagram:hover:before{
					color: #08579a;
				}

				.social-icons a:last-child{
					margin-right: 0;
				}

			.phone{
				display: block;
				padding-top: 5px;
				font-family: 'SFUIDisplayBold';
				font-size: 17px;
				color: #1b1b1b;
			}

			.b-footer .phone{
				padding-top: 0;
			}

			.cabinet-cont{
				position: relative;
			}

			.b-top-content li .cabinet{
				display: inline-block;
				padding-top: 5px;
				font-family: 'SFUIDisplayMedium';
				color: #1b1b1b;
			}

			.b-top-content li:hover .cabinet{
				color: #183d6c;
			}

				.cabinet-bubble{
					position: absolute;
					right: 0;
   					top: 44px;
   					padding: 22px 26px 30px 26px;
   					z-index: 5;
   					background-color: #FFF;
   					-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
					-moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
					box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
				}

					.cabinet-bubble h3{
						font-size: 18px;
						text-transform: uppercase;
						margin-bottom: 27px;
					}

				.cabinet-bubble .b-btn{
					margin-bottom: 14px;
				}

				.restore-password{
					border-bottom: 1px solid #1b82c7;
					display: inline-block;
    				margin-top: 5px;
				}

					.cabinet-bubble:after {
					    position: absolute;
					    content: "s";
					    font-size: 0px;
					    width: 0px;
					    height: 0px;
					    right: 0;
					    top: -14px;
					    border-top: 0px solid transparent;
					    border-right: 23px solid transparent;
					    border-bottom: 14px solid #FFF;
					    border-left: 23px solid transparent;
					}

					.cabinet-bubble:before {
						position: absolute;
					    content: "s";
					    font-size: 0px;
					    width: 0px;
					    height: 0px;
					    right: 0;
					    top: -15px;
					    border-top: 0px solid transparent;
					    border-right: 23px solid transparent;
					    border-bottom: 15px solid #ccc;
					    border-left: 23px solid transparent;
					}

					.cabinet-bubble-wrap:after {
						content: "s";
						font-size: 0px;
			    		width: 0px;
			    		height: 0px;
						position: absolute;
						bottom: 0;
						right: 0;
						border: 15px solid transparent;
						border-right: 15px solid #dcdcdc;
						border-bottom: 15px solid #dcdcdc;
					}

				.cabinet-bubble input,
				.b-popup input,
				.b-popup textarea{
				    margin-bottom: 37px;
				}

				.cabinet-bubble input[name="password"]{
					margin-bottom: 20px;
				}

	.cabinet-bubble.bubble-active {
	    visibility: visible;
	    opacity: 1;
	    -webkit-transform: translateY(0px);
	    -moz-transform: translateY(0px);
	    -ms-transform: translateY(0px);
	    -o-transform: translateY(0px);
	    transform: translateY(0px);
	}

	.cabinet-bubble{
		visibility: hidden;
	    opacity: 0;
		-webkit-transition: transform 300ms ease-out, visibility 300ms ease-out, opacity 300ms ease-out;
	    -moz-transition: transform 300ms ease-out, visibility 300ms ease-out, opacity 300ms ease-out;
	    -ms-transition: transform 300ms ease-out, visibility 300ms ease-out, opacity 300ms ease-out;
	    -o-transition: transform 300ms ease-out, visibility 300ms ease-out, opacity 300ms ease-out;
	    transition: transform 300ms ease-out, visibility 300ms ease-out, opacity 300ms ease-out;
	    -webkit-transform: translateY(20px);
	    -moz-transform: translateY(20px);
	    -ms-transform: translateY(20px);
	    -o-transform: translateY(20px);
	    transform: translateY(20px);
	}

.b-menu{

}

	.b-logo{
		width: 254px;
		float: left;
	}

		.b-logo a{
			display: inline-block;
		}

			.b-logo a img{
				width: 100%;
				margin-top: 20px;
				margin-bottom: 14px;
			}

	.burger-menu{
		float: right;
		margin-top: 41px;
		cursor: pointer;
	}

	.burger-menu{
		display: none;
	}

	.burger-menu:hover{
		color: #08579a;
	}

	.icon-menu:before{
	    content: "\e906";
	    font-size: 30px;
	    line-height: 28px;
	}

	.mobile-menu{
		padding: 0 20px;
		background-color: #FFF;
		text-transform: uppercase;
	}

		.mobile-menu ul{
			margin-bottom: 16px;
		}

		.mobile-menu ul li a, ul.mobile-menu .contact-info{
			display: block;
			font-size: 16px;
    		padding: 14px 0;
    		font-family: 'UbuntuMedium';
		}

		.mobile-menu .social-icons a{
			text-align: left;
			margin-right: 16px;
		}

		.mobile-menu .social-icons a.icon-vk{
			margin-right: 24px;
		}

		.mobile-menu .icon-facebook:before,
		.mobile-menu .icon-instagram:before{
			font-size: 22px;
		}

		.mobile-menu .icon-vk:before{
			font-size: 24px;
		}

	.mobile-menu ul li:hover a{
		color: #1b1b1b;
	}

	ul.b-menu-items{
		float: right;
		text-transform: uppercase;
		margin-top: 42px;
	}

		ul.b-menu-items li{
			display: inline-block;
		}

			ul.b-menu-items li a{
				font-family: 'UbuntuMedium';
				font-size: 18px;
				color: #1b1b1b;
				padding: 10px 14px;
    			letter-spacing: 0.55px;
			}

			ul.b-menu-items li:last-child a{
				padding-right: 0;
			}

			ul.b-menu-items li:hover > a{
				color: #136aa4;
			}

.b-slider{
	height: 505px;
	background-image: url(../i/header-back.jpg);
	background-position: 50% 0;
	background-size: cover;
	background-repeat: no-repeat;
}

		.b-slider-content{
			max-width: 475px;
    		width: 100%;
			background-color: transparent;
			padding-top: 96px;
		}

			.b-slider-content p{
				font-family: 'SFUIDisplayRegular';
				font-size: 16px;
				color: #FFF;
				line-height: 26px;
				margin-bottom: 54px;
			}

.bg{
	background-image: url(../i/bg.jpg);
	background-position: 50% 0;
	background-size: cover;
}

.b-case{

}

	.b-case-list{

	}

		.b-case-item{
			position: relative;
			display: inline-block;
			padding: 30px;
			width: calc(100%/3 - 20px);
			margin-right: 25px;
			background-color: #FFF;
			vertical-align: top;
		}

			.b-case-item:before{
				content: "s";
				font-size: 0px;
	    		width: 0px;
	    		height: 0px;
				position: absolute;
				top: 0;
				left: 0;
				border: 15px solid transparent;
				border-left: 15px solid #013c6e;
				border-top: 15px solid #013c6e;

			}

			.b-case-item:after{
				content: "s";
				font-size: 0px;
	    		width: 0px;
	    		height: 0px;
				position: absolute;
				bottom: 0;
				right: 0;
				border: 15px solid transparent;
				border-right: 15px solid #dcdcdc;
				border-bottom: 15px solid #dcdcdc;
			}

			.b-case-item:hover:after{
				border-right: 15px solid #013c6e;
				border-bottom: 15px solid #013c6e;
			}

			.b-case-item ul li{
				padding-left: 0;
			}

			.b-case-item .read-more{
				display: inline-block;
				position: relative;
				font-size: 16px;
				color: #013c6e;
				border-bottom: none;
			}

		.b-case-item:last-child{
			margin-right: 0;
		}

.b-case.b-services-items .b-case-item{
	float: left;
	width: calc(100%/2 - 15px);
	margin-right: 30px;
	margin-bottom: 30px;
}

.b-case.b-services-items .b-case-item:last-child{
	margin-right: 0;
}

		.b-services{
			margin-bottom: 30px;
		}

			.b-services-list{
				margin-bottom: 32px;
			}

				.b-services-item p{
					margin-bottom: 18px;
				}

					.read-more:after {
						font-size: 18px;
					    text-decoration: none;
					    content: "→";
					    margin-left: 4px;
					}

					.read-more:hover{
						color: #136aa4;
					}

.b-calc{
	margin-bottom: 26px;
}

	.inputs-cont{
		padding-top: 40px;
		padding-bottom: 36px;
	}

		.before-input{
			position: relative;
			display: inline-block;
			width: calc(100%/3 - 20px);
    		margin: 44px 25px 36px 0;
		}

		.before-input:nth-of-type(3n){
			margin-right: 0;
		}

		.before-input:before{
			content: attr(data-placeholder);
			font-size: 16px;
			position: absolute;
			top: -37px;
			left: 0;
		}

		.period-items{
			position: absolute;
			right: 0;
			top: -37px;
		}

			.period-items a{
				color: #8d8d8d;
				display: inline-block;
				margin-right: 20px;
			}

			.period-items a:hover{
				color: #1b82c7;
			}

			.period-items a.period-active:hover{
				color: #013c6e;
			}

			.period-items a:last-child{
				margin-right: 0;
			}

		.period-items a.period-active{
			font-family: 'UbuntuMedium', Sans-Serif;
			color: #013c6e;
		}

		.b-calc input{
			font-family: 'UbuntuMedium';
			font-size: 19px;
		    border-bottom: 3px solid #e0e0e0;
		    padding-bottom: 11px;
		}

	.notation-wrap{
		position: relative;
		float: right;
		width: calc(100% - 15px);
		margin-top: -14px;
	}

		.notation{
			color: #8d8d8d;
		}

		.notation-wrap:before{
			font-size: 18px;
		    content: "*";
		    position: absolute;
		    top: 0;
			left: -14px;
			color: #8d8d8d;
		}

	.cost-result{
		display: inline-block;
		font-family: 'UbuntuMedium', Sans-Serif;
		font-size: 19px;
	}

	.icon-rub{
		display: inline-block;
		padding-left: 5px;
	}
	.icon-rub:before{
		content: "\e908";
	    font-size: 14px;
	    color: #1b1b1b;
	    line-height: 27px;
	}

	.cost-title{
		font-size: 16px;
		margin-bottom: 10px;
	}

	.b-calc-item{
		display: inline-block;
		width: calc(100%/3 - 20px);
		margin-right: 25px;
		vertical-align: top;
	}

	.b-calc-item:last-child{
		margin-right: 0;
	}

	.period-datepicker input{
		display: inline-block;
		width: 100px;
	}

.b-about{
	margin-bottom: 10px;
}

	.b-about-column{
		display: inline-block;
		width: calc(100%/3 - 32px);
		margin-right: 40px;
		vertical-align: top;
	}

	.b-about-list{
		margin-bottom: 10px;
	}

	.b-about-text{
		line-height: 19px;
	}

	.b-about-column:last-child{
		margin-right: 0;
		margin-bottom: 4px;
	}

		.b-about-item{
			margin-bottom: 27px;
		}

		.b-about-item:nth-child(3n){
			margin-bottom: 0;
		}

			.b-about-img{
				width: 34px;
				height: auto;
				text-align: center;
			}

			.b-about-item-text{
				font-size: 16px;
				line-height: 18px;
				font-family: 'UbuntuMedium', Sans-Serif;
				display: inline-block;
				margin-left: 10px;
			}

.b-client{
	margin-bottom: 35px;
}

		.b-client-list{
			position: relative;
			width: calc(100% - 60px);
   			margin: 0 auto;
		}

			.b-client-item{
				line-height: 50px;
				display: inline-block;
				text-align: center;
			}

				.b-client-item img{
					vertical-align: middle;
				}

				.b-client .slick-slide img {
				    display: inline-block;
				}

	.b-client-arrows{
		padding: 10px;
	}

	.icon-arrow-left:before{
		content: "\e900";
	}
	.icon-arrow-right:before{
		content: "\e901";
	}

	.b-client-arrows:hover.icon-arrow-right,
	.b-client-arrows:hover.icon-arrow-left{
		color: #1b81c5;
	}

	.b-client-arrows.icon-arrow-right{
		position: absolute;
	    right: -43px;
	    top: 7px;
	    cursor: pointer;
	    z-index: 1;
	    color: #adadad;
	}

		.b-client-arrows.icon-arrow-right:before{
			font-size: 18px;
		}

	.b-client-arrows.icon-arrow-left{
		position: absolute;
	    left: -43px;
	    top: 7px;
	    cursor: pointer;
	    z-index: 1;
	    color: #adadad;
	}

		.b-client-arrows.icon-arrow-left:before{
			font-size: 18px;
		}

.b-footer{
	padding-top: 35px;
	margin-bottom: 18px;
}

.b-footer-border{
	border-top: 3px solid #e0e0e0;
}

	.b-footer-column p{
		font-size: 16px;
		margin-top: 5px;
	}

	.b-footer-column:last-child a{
		color: #1b1b1b;
		text-decoration: none;
	}

	.b-footer-column ul{
		margin-right: 25px;
	}

	.b-footer-column:last-child ul{
		margin-right: 0;
	}

		.b-footer-column ul li{
			margin-bottom: 6px;
		}

	.b-footer-column{
		float: left;
		width: 25%;
	}

	.b-footer-column:last-child{
		float: right;
	}

.b-bottom{
	margin-bottom: 34px;
}

.period-start{
	padding-right: 10px;
	box-sizing: content-box;
}

.dash{
	display: inline-block;
	border-bottom: 3px solid #e0e0e0;
	padding-bottom: 16px;
	margin-left: -.36em;
}

.period-finish{
	margin-left: -.36em;
	padding-left: 16px;
	box-sizing: content-box;
}

input.period-start::-webkit-input-placeholder,
input.period-finish::-webkit-input-placeholder
{
	font-size: 19px;
	color: #e0e0e0;
}
input.period-start:-moz-placeholder,
input.period-finish:-moz-placeholder
{
	font-size: 19px;
	color: #e0e0e0;
}

/*--------Popup---------*/

.b-popup{
	width: 100%;
	max-width: 290px;
	padding: 25px 35px 40px;
}

	.b-popup h2{
		font-family: 'UbuntuMedium';
		letter-spacing: 0;
		font-size: 18px;
		padding-top: 0;
		margin-bottom: 20px;
	}

	.b-popup .b-btn{
		min-width: 0;
		width: 100%;
		margin-top: 10px;
	}

	.b-popup input, .b-popup textarea{
		margin-bottom: 22px;
	}

	.fancybox-close-small:after {
	    content: "\e909";
	    position: absolute;
	    left: 8px;
	    top: 13px;
	    color: #d7d7d7;
	    font-size: 16px;
	    width: auto;
	    height: auto;
	    background-color: transparent;
	}

	.fancybox-close-small:hover:after{
		color: #1b1b1b;
		background-color: transparent;
	}

/*-----------Slick------------*/

.slick-slide img{
	margin: 0 auto;
}

/*----------jquery ui slider----------*/

.ui-widget.ui-widget-content {
    border: 0;
    border-bottom: 3px solid #e0e0e0;
}

.ui-slider-horizontal {
    height: 3px;
}

.ui-slider {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.input-slider .ui-slider-range{ 
	border-bottom: 3px solid #1b82c7;
}
.input-slider .ui-slider-handle{
	position: relative;
	border: 1px solid transparent;
    background: transparent;
    color: transparent;
    cursor: pointer;
}
.input-slider .ui-slider-handle:before{ 
	position: absolute;
    content: "s";
    font-size: 0px;
    width: 0px;
    height: 0px;
    left: 0;
    top: 9px;
    border-top: 0px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 14px solid #1b82c7;
    border-left: 8px solid transparent;
}

/*-----------Slideout-----------*/

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #FFF; /* A background-color is required */
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

.b-menu-overlay{
	display: none;
    /*-webkit-transition: opacity 150ms ease-out;
    -moz-transition: opacity 150ms ease-out;
    -ms-transition: opacity 150ms ease-out;
    -o-transition: opacity 150ms ease-out;
    transition: opacity 150ms ease-out;*/
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 11;
    background-color: rgba(0, 0, 0, 0.25);
}

/*-----------------------*/

/*--------Изображения в хедере--------*/

.b-slider-inner{
	height: 295px;
    background-position: 50% 0;
    background-size: cover;
    background-repeat: no-repeat;
}

	.b-slider-inner .b-slider-content{
		max-width: 500px;
    	width: 100%;
		background-color: transparent;
		padding-top: 73px;
	}

.b-slider-inner.b-page-about{
	background-image: url(../i/inner-about.jpg);
}

.b-slider-inner.b-page-services{
	background-image: url(../i/inner-services.jpg);
}

	.b-slider-inner.b-page-services .b-slider-content{
		padding-top: 59px;
	}

.b-slider-inner.b-page-cooperation{
	background-image: url(../i/inner-cooperation.jpg);
}

	.b-slider-inner.b-page-services .b-slider-cooperation{
		
	}

.b-slider-inner.b-page-marketplace{
	background-image: url(../i/inner-marketplace.jpg);
}

	.b-slider-inner.b-page-services .b-slider-marketplace{
		
	}

.b-slider-inner.b-page-documents{
	background-image: url(../i/inner-documents.jpg);
}

ul.b-breadcrumbs{
	padding-top: 20px;
}

	ul.b-breadcrumbs li{
		display: inline-block;
	}

		ul.b-breadcrumbs li a,
		ul.b-breadcrumbs li span{
			font-family: 'UbuntuRegular', Sans-Serif;
			font-size: 14px;
			color: #8c8c8c;
		}

			ul.b-breadcrumbs li:after {
			    position: relative;
			    content: "\e901";
			    font-size: 10px;
			    line-height: 16px;
			    color: #9c9d9e;
			    margin: 0 6px 0 12px;
			}

			ul.b-breadcrumbs li:last-child:after {
			    display: none;
			}

/*-------О команде-------*/

.b-about-inner{
	
}

	.b-about-inner .b-text{
		
	}

	.b-about-inner .b-text > img{
		float: right;
		margin-left: 35px;
	}

	.after-text-link{
		margin-top: 20px;
	}

		.after-text-link span{
			font-size: 16px;
			text-decoration: underline;
			padding-left: 10px;
		}

.b-scheme{
	margin-bottom: 22px;
}

	.b-scheme-list{

	}

		.b-scheme-item{
			float: left;
			display: inline-block;
			width: 20%;
		}

			.b-scheme-img{
				float: left;
				display: inline-block;
			}

			.b-scheme-text{
				float: right;
				display: inline-block;
				width: calc(100% - 42px);
				margin-left: 8px;
			}

		.arrow-next{
			float: left;
			margin-right: 30px;
			display: inline-block;
		}

.b-scheme-bottom{
	color: #8d8d8d;
}

.b-directions{

}

	.b-directions-item{
		padding: 25px 30px;
		min-height: 298px;
	}

		.b-directions-item p{
			color: #858585;
			margin-bottom: 12px;
			font-size: 12px;
			line-height: 14px;
		}

		.b-directions-item ul{
			margin-bottom: 0;
		}

			.b-directions-item ul li{
				position: relative;
				margin-left: 13px;
				margin-bottom: 6px;
			}

			.b-directions-item ul li:last-child{
				margin-bottom: 0;
			}

			.b-directions-item ul li:before{
			    content:" ";
			    position: absolute;
			    top: 4px;
			    left: -12px;
			    border: 5px solid transparent;
				border-left: 6px solid #d6d6d6;
			}

	.b-directions .underline-list li a{
		font-size: 14px;
	}

.b-team-top{
	display: block;
	width: 100%;
	margin-bottom: 28px;
}

	.b-team-item{
		float: left;
		width: calc(100%/4 - 23px);
		margin-right: 30px;
		padding: 15px;
    	background-color: #FFF;
    	margin-bottom: 30px;
	}

	.b-team-item:nth-child(4n){
		margin-right: 0;
		float: right;
	}

		.b-team-item-photo{
			width: 100%;
			height: 225px;
			background-position: 50% 50%;
		    background-size: cover;
			background-repeat: no-repeat;
			background-color: #e1e1e1;
			color: #c8c8c8;
			text-align: center;
			margin-bottom: 15px;
		}

		.b-team-item-photo.man-photo,
		.b-team-item-photo.woman-photo{
		    background-size: 100px;
		}

		.man-photo{
			background-image: url(../i/team-man.png);
		}

		.woman-photo{
			background-image: url(../i/team-woman.png);
		}

		.b-team-item h3{

		}

		.b-team-item-post{
			margin-bottom: 16px;
		}

		.b-team-item-about{

		}

.b-reviews{

}

	.b-reviews-list{
		margin-bottom: 22px;
	}

		.b-reviews-text-wrap{
			max-height: 110px;
			overflow: hidden;
		}

		.b-reviews-item{
			float: left;
			display: inline-block;
			background-color: #FFF;
			width: calc(100%/2 - 15px);
			margin-right: 30px;
			padding: 15px;
		}

		.b-reviews-item:nth-of-type(2n){
			margin-right: 0;
		}

			.b-reviews-img{
				line-height: 45px;
				margin-bottom: 5px;
			}

			.b-reviews-item img{
				display: inline-block;
				vertical-align: top;
			}

		.b-reviews .expand-review{
			display: inline-block;
			margin-top: 5px;
			color: #7f7f7f;
		}

		.b-reviews .look-original{
			display: inline-block;
			margin-top: 10px;
			text-decoration: underline;
		}

		.icon-doc:before{
			content: "\e902";
		    font-size: 16px;
		    color: #1b1b1b;
		    line-height: 28px;
		    margin-right: 5px;
		}

		.b-reviews .icon-arrow-down{
			display: inline-block;
		}

			.b-reviews .icon-arrow-down:after{
				position: static;
				color: #7f7f7f;
				font-size: 8px;
				margin-left: 5px;
			}

	.b-reviews-text-wrap.height-none{
		max-height: none;
	}

	.b-reviews .icon-arrow-down-rotate{
		vertical-align: middle;
	}

.b-sub{
	padding: 30px;
	background-color: #013c6e;
}

	.b-sub h3, .b-sub h4{
		margin-bottom: 20px;
		color: #FFF;
	}

	.b-sub-form-cont{
		display: inline-block;
		width: calc(100%/3 - 23px);
		margin-right: 30px;
	}

	.b-sub-form-cont:nth-child(2) h4{
		width: 120%;
	}

	.b-sub-form-cont:last-child{
		text-align: right;
		margin-right: 0;
	}

	.b-sub input{
		color: #FFF;
		border-bottom: 1px solid #FFF;
	}

/*-------Услуги и продукты-------*/


.b-services-block{
	margin-bottom: 40px;
}
	.b-page-services-list{

	}

	.b-services-app{
		position: absolute;
		bottom: 0;
		right: 0;
		padding: 8px 22px;
		background-color: #c6c6c6;
		z-index: 5;
		background-image: -webkit-gradient(linear, 100% 0%, 0% 0%,color-stop(0, rgb(225, 225, 225)),color-stop(1, rgb(185, 185, 185)));
	    background-image: -webkit-repeating-linear-gradient(right,rgb(225, 225, 225) 0%,rgb(185, 185, 185) 100%);
	    background-image: repeating-linear-gradient(to left,rgb(225, 225, 225) 0%,rgb(185, 185, 185) 100%);
	    background-image: -ms-repeating-linear-gradient(right,rgb(225, 225, 225) 0%,rgb(185, 185, 185) 100%);
	}

		.b-services-app a{
			color: #013c6e;
			border-bottom: 1px solid #013c6e;
		}

	.b-services-items .b-case-item:nth-child(2n){
		margin-right: 0;
	}

	.b-services-items .b-case-item h3,
	.b-services-items .b-case-item p{
		margin-bottom: 10px;
	}

/*-------Сотрудничество-------*/

.choice-block{
	text-align: center;
	margin: 27px 0;
}

	.choice-block .choice-item{
		width: 32%;
		display: inline-block;
		border-bottom: 3px solid #1b1b1b;
		text-align: center;
	}

	.choice-block .choice-item a{
		display: inline-block;
		text-transform: uppercase;
		padding: 15px 0;
		font-size: 24px;
		font-family: 'UbuntuBold';
		color: #1b1b1b;
	}

	.choice-block .choice-item:last-child{
		margin-left: 30px;
	}

	.choice-block .choice-item.active,
	.choice-block.choice-block-three .choice-item.active{
		border-bottom: 3px solid #1b82c7;
	}

	.choice-block .choice-item.active a{
		color: #1b82c7;
	}

	.choice-block.choice-block-three .choice-item{
		width: calc(100%/3 - 40px);
		margin-right: 50px;
		border-bottom: 3px solid #b7b7b7;
	}

	.choice-block.choice-block-three .choice-item:last-child{
		margin-left: 0;
		margin-right: 0;
	}

	.choice-block.choice-block-three .choice-item a{
		text-transform: none;
		font-size: 16px;
	}

	.choice-block.choice-block-three img{
	    display: inline-block;
	    margin-right: 5px;
	    vertical-align: middle;
   		margin-bottom: 4px;
	}

.b-chart{
	margin-bottom: 25px;
}

	.b-chart h3{
		font-size: 16px;
	}

	.b-chart-block{
		padding: 30px 22px;
		background-color: #FFF;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.b-chart-margin{
		margin-bottom: 20px;
	}

	.chart-legend{
		font-size: 16px;
		margin-left: 12px;
		font-family: 'UbuntuMedium';
	}

	.chart-buttons{
		margin-right: 12px;
	}

		.chart-buttons a.active{
			color: #1b82c7;
			border-bottom: 2px solid #1b82c7;
		}

		.chart-buttons a{
			color: #1b1b1b;
			font-family: 'UbuntuMedium', Sans-Serif;
			font-size: 16px;
		}

			.chart-buttons a:last-child{
				margin-left: 12px;
			}

		.circle-legend{
			display: inline-block;
			width: 9px;
			height: 9px;
			border-radius: 100px;
			background-color: #1b82c7;
			margin-bottom: 1px;
			margin-right: 8px;
		}

.b-application{
	padding: 28px 30px;
	margin-bottom: 30px;
	background-color: #013c6e;
}

	.b-application h3.b-title{
		color: #FFF;
		padding-top: 0;
		font-family: 'UbuntuMedium';
		text-transform: none;
		margin-bottom: 25px;
	}

	.b-application input{
		float: left;
		width: calc(100%/3 - 20px);
		margin-right: 30px;
		color: #FFF;
		border-bottom: 1px solid #FFF;
	}

	.b-application input:last-child{
		margin-right: 0;
	}

	.b-application .b-btn{
		float: right;
	}

	.inputs-block{
		margin-bottom: 30px;
	}

.b-scheme-cooperation{
	margin-top: 24px;
}

	.b-scheme.b-scheme-cooperation .b-scheme-text{
		float: left;
	    width: calc(100% - 56px);
	    margin-left: 12px;
	}

		.b-scheme.b-scheme-cooperation .b-scheme-text h3.b-title{
			font-size: 16px;
			line-height: 16px;
		}

	.b-scheme.b-scheme-cooperation .arrow-next{
		margin-top: 9px;
	}

.b-region{
	margin-bottom: 45px;
}

	.b-region p{
		margin-bottom: 10px;
	}

/*------Работа с ЭТП------*/

.b-margin-up{
	margin-top: 27px;
}

.b-slider-content ul.mark-numbers li{
	text-transform: uppercase;
	font-family: 'UbuntuBold', Sans-Serif;
}

.b-federal{
	margin-bottom: 27px;
}

	.b-federal-list{

	}

		.b-federal-item{
			float: left;
			width: calc(100%/6 - 17px);
			margin-right: 20px;
		}

		.b-federal-item:last-child{
			margin-right: 0;
		}

		.b-federal-item:hover{
			cursor: pointer;
		}

		.b-federal-item:hover .federal-img{

		}

		.b-federal-item:hover p{
			color: #1b82c7;
		}

			.b-federal-item .federal-img{
				display: block;
				height: 56px;
				margin-bottom: 10px;
			}

			.b-federal-item p{
				text-decoration: underline;
			}

.b-white-block{
	background-color: #FFF;
	padding: 30px;
}

	.b-white-block h2{
		padding-top: 0;
	}

	.b-work-marketplace img{
		display: inline-block;
		margin-right: 5px;
	}

	.b-work-marketplace h2{
		display: inline-block;
	}

	.question-block .question-icon{
		color: #1b82c7;
		border: 2px solid #1b82c7;
		width: 20px;
		height: 20px;
		font-size: 14px;
		line-height: 16px;
		margin-right: 4px;
	}

	.important-block{
		font-family: 'UbuntuBold';
		color: #FFF;
		display: inline-block;
		padding: 8px 20px;
		background-color: #1b82c7;
		margin-bottom: 10px;
	}

	.question-block .question-text{
		color: #1b82c7;
		text-decoration: underline;
	}

	.important-text{
		padding-left: 12px;
		border-left: 2px solid #1b82c7;
		margin-bottom: 27px;
	}

	.b-gray-block{
		padding: 30px;
		background-color: #f3f3f3;
	}

		.b-send-app-form{

		}
			.b-send-app-form h3{
				margin-bottom: 12px;
			}

			.b-send-app-form input::-webkit-input-placeholder,
			.b-send-app-form textarea::-webkit-input-placeholder{
				font-size: 16px;
				color: #1b1b1b;
			}
			.b-send-app-form input:-moz-placeholder,
			.b-send-app-form textarea:-moz-placeholder{
				font-size: 16px;
				color: #1b1b1b;
			}

			.b-send-app-form input, .b-send-app-form textarea{
			    line-height: 24px;
			    padding-bottom: 10px;
			    border-bottom: 3px solid #e0e0e0;
			    margin-bottom: 20px;
			}

			.b-wrap-input:last-child{
				margin-right: 0;
			}

			.b-wrap-input{
				display: inline-block;
				width: calc(100%/3 - 23px);
				margin-right: 30px;
			}

			.b-wrap-input-2x{
				width: calc(100%/3*2 - 23px);
			}


/*-------Chartist.js--------*/

.ct-perfect-fourth {
    height: 250px;
}

.ct-perfect-fourth:before{
    padding-bottom: 0;
}

.ct-series-a .ct-area, .ct-series-a .ct-slice-donut-solid, .ct-series-a .ct-slice-pie {
    fill: #d9eaf6;
}

.ct-area {
    fill-opacity: 1;
}

.ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut{
	stroke: #1b82c7;
}

.ct-label {
    color: #1b1b1b;
    font-family: 'UbuntuMedium';
    font-size: .75rem;
}

.b-chart-wrap{
	height: 250px;
}

	.ct-chart{
		opacity: 0;
		visibility: hidden;
		position: absolute;
		top: 0;
		left: 0;
	}

	.ct-chart.active{
		opacity: 1;
		visibility: visible;
	}

/*------------------------------*/

@media (-webkit-min-device-pixel-ratio: 1.5) {
	.b-about-img img{
		max-width: 34px;
		max-height: 32px;
	}

	.man-photo{
		background-image: url(../i/team-man@2x.png);
	}

	.woman-photo{
		background-image: url(../i/team-woman@2x.png);
	}

	.b-text ul.mark-img li{
		background-image: url(../i/mark@2x.png);
	}

	.after-text-link img{
		max-width: 28px;
		max-height: 40px;
	}

	.b-scheme-img img{
		max-width: 40px;
		max-height: 40px;
	}
}	
@media screen and (max-width: 1250px){
	
}
@media screen and (max-width: 1020px){

}