@charset "utf-8";

html,
body {
	position: relative;
}
body {
	min-width: 750px;
	font-size: 14px;
	text-align: left;
	font-family: 'UbuntuRegular', Sans-Serif;
	overflow-x: hidden;
	-webkit-text-size-adjust: none;
	color: #1b1b1b;
	line-height: 18px;
}

.b-block{
	width: 100%;
	max-width: calc(100% - 48px);
	margin: 0 auto;
}

.b-wide-block{
	min-width: 750px;
}

/*------------------*/

.training-block{
	float: none;
}

.b-slider-item{
	background-position: 50% 0;
}

.b-slider-item .b-block{
	padding: 0 40px;
}

.b-slider-arrows.icon-arrow-left {
    left: -12px;
}

.b-slider-arrows.icon-arrow-right{
	right: -12px;
}

@media screen and (max-width: 1100px){
	ul.b-menu-items {
	    margin-top: 45px;
	}

		ul.b-menu-items li a {
			font-size: 16px;
		    padding: 10px 10px;
		}

	.b-client-item{
		margin: 0 15px;
	}


	.b-case{
		text-align: center;
	}

	.b-case-list.b-services-items .b-case-item{
		float: none;
		display: inline-block;
		width: calc(100%/2 - 18px);
	}

	.b-case-list.b-services-items .b-case-item:nth-child(2n){
		margin-right: 0;
	}

	.b-about-inner .b-text > img{
		width: 50%;
	}

	.b-team-item-photo{
		height: 18vw;
	}

	.b-team-item {
	    display: inline-block;
	    float: none;
	    width: calc(100%/4 - 18px);
	    margin-right: 20px;
	    vertical-align: top;
	}

	.b-team-item:nth-child(4n){
		margin-right: 0;
    	float: none;
	}

	.b-scheme-item{
		width: calc(100%/4 - 38px);
	}

	.b-scheme .b-scheme-text{
		margin-left: 6px;
	}

	.b-scheme.b-scheme-cooperation .b-scheme-text h3.b-title{
		font-size: 14px;
	}

	.arrow-next{
	    margin-right: 10px;
	}

	.b-federal-item{
		width: calc(100%/3 - 15px);
    	margin-bottom: 25px;
	}

	.b-federal-item:nth-child(3n){
		margin-right: 0;
	}

	.b-federal{
		margin-bottom: 30px;
	}

	.choice-block.choice-block-three .choice-item {
	    width: calc(100%/3 - 17px);
	    margin-right: 20px;
	    border-bottom: 3px solid #b7b7b7;
	}

	.choice-block.choice-block-three .choice-item span{
	    font-size: 14px;
	}

	.b-marketplace-ref .choice-block.choice-block-three .choice-item span{
		font-size: 16px;
	}

	.choice-block.choice-block-three img{
		margin-right: 0;
	}

	.b-work-marketplace-about{
		width: 65%;
	}

	.b-info-partners-item img{
		max-width: 215px;
	}

	.choice-block.choice-block-four .choice-item {
	    width: calc(100%/2 - 20px);
	}

	.choice-block.choice-block-four .choice-item:nth-child(2n){
	    margin-right: 0;
	}

}

@media screen and (max-width: 1000px){

	.b-menu-items{
		display: none;
	}

	.b-top-content .contact-info{
		display: none;
	}

	ul.b-top-content li:nth-child(1){
		display: none;
	}

	.burger-menu{
		display: inline-block;
	}

	.b-services-item{
		width: calc(100%/3 - 12px);
    	margin-right: 14px;
	}

	.b-case-number-item{
		width: calc(100%/2 - 18px);
		margin-right: 30px;
		margin-bottom: 30px;
	}

	.b-case-number-item:nth-child(2n){
		margin-right: 0;
	}

	.b-case-number-item:last-child{
		margin-bottom: 0;
	}

}


@media screen and (max-width: 945px){

	.b-case-item{
		float: none;
		display: inline-block;
		width: calc(100%/2 - 20px);
    	margin-right: 25px;
    	margin-bottom: 20px;
    	text-align: left;
	}

	.b-case-item:nth-child(2){
		margin-right: 0;
	}

	.b-case-item:last-child{
		margin-bottom: 0;
	}

	.b-services-app{
		left: 0;
		right: auto;
	}

	.period-items a{
		margin-right: 10px;
	}

	.b-calc .b-btn{
		width: 100%;
		min-width: auto;
	}

	.b-sub-form .b-btn{
		min-width: auto;
		width: 100%;
	}

	.b-case-list.b-services-items .b-case-item{
		padding-bottom: 55px;
    	margin-right: 20px;
    	margin-bottom: 20px;
	}

	.b-case-list.b-services-items .b-case-item:nth-child(2n){
		margin-right: 0;
	}

	.b-info-partners-item{
	    width: calc(100%/2 - 18px);
	    margin-bottom: 20px;
	}

	.b-info-partners-item:nth-child(2n){
		margin-right: 0;
	}

	.b-info-partners-item img{
		max-width: none;
	}

	.b-team-item {
	    display: inline-block;
	    float: none;
	    width: calc(100%/3 - 16px);
	    margin-right: 20px;
	    vertical-align: top;
	}

	.b-team-item:nth-child(3n) {
	    margin-right: 0;
	}

	.b-team-item:nth-child(4n) {
	    float: none;
	    margin-right: 20px;
	}

	.b-team-item-photo{
		height: 26vw;
	}

	.b-monitoring-analysis-item {
	    width: calc(100%/3 - 44px);
	    margin: 0 20px;
	}

	.b-monitoring-deep-list ul.mark-img li {
	    width: calc(100%/2 - 26px);
	    margin-right: 20px;
	}

	.b-monitoring-deep-list ul.mark-img li:nth-child(2n){
	    margin-right: 0;
	}

}

@media screen and (max-width: 900px){

	/*.b-team-item h3{
		font-size: 16px;
		line-height: 18px;
	}*/

	.b-services-send{
		width: calc(100% - 76px);
	}

	.choice-block .choice-item{
		width: 40%;
	}

	.b-scheme-item {
	    width: 40%;
	}

	.b-scheme .arrow-next.arrow-rotate{
		width: 100%;
		display: block;
		margin: 12px 0 25px 0;
	}

	.arrow-rotate img{
		float: right;
		-webkit-transform: rotate(90deg);
	    -moz-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	    -o-transform: rotate(90deg);
	    transform: rotate(90deg);
	    margin-right: 22%;
	}

	.arrow-next{
		text-align: center;
		width: 18%;
		margin-right: 0;
	}

	.b-scheme.b-scheme-cooperation .arrow-last{
		margin-right: 12px;
	}

	.arrow-last{
		float: right;
	}

	.arrow-last img{
		-webkit-transform: rotate(180deg);
	    -moz-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	    -o-transform: rotate(180deg);
	    transform: rotate(180deg);
	}

	.b-scheme-item-right{
		float: right;
		margin-right: 12px;
	}

	.b-scheme.b-scheme-cooperation .b-scheme-item-right{
		margin-right: 0;
	}

	.b-wrap-input-area{
		width: calc(100%/3*2 - 12px);
	}

}

@media screen and (max-width: 840px){
	.b-document-item{
   		width: calc(100%/3 - 20px);
	}
	.b-footer-column{
		width: 50%;
	}

	.b-footer-column:nth-child(2),
	.b-footer-column:nth-child(3){
		display: none;
	}

	.b-head-scheme{
		padding: 20px 0;
	}

	.b-head-scheme .b-escort-scheme-header{
		padding: 10px;
	}

	.b-head-scheme .b-head-scheme-header{
		padding: 12px 20px;
	}

	.b-head-scheme .b-escort-scheme-list {
	    width: calc(100%/3 - 10px);
	    margin-right: 10px;
	}

	.b-head-scheme .b-escort-scheme-list:last-child{
	    margin-right: 0;
	}
}