@charset "utf-8";

html,
body {
	position: relative;
}
body {
	min-width: 750px;
	font-size: 14px;
	text-align: left;
	font-family: 'UbuntuRegular', Sans-Serif;
	overflow-x: hidden;
	-webkit-text-size-adjust: none;
	color: #000;
	line-height: 18px;
}

.b-block{
	width: 100%;
	max-width: calc(100% - 48px);
	margin: 0 auto;
}

.b-wide-block{
	min-width: 750px;
}

/*------------------*/

@media screen and (max-width: 1100px){
	ul.b-menu-items {
	    margin-top: 45px;
	}

		ul.b-menu-items li a {
			font-size: 16px;
		    padding: 10px 10px;
		}

	.b-client-item{
		margin: 0 15px;
	}

	.b-case-list.b-services-items .b-case-item{
		float: none;
		display: inline-block;
		width: calc(100%/2 - 18px);
	}

	.b-case-list.b-services-items .b-case-item:nth-child(2n){
		margin-right: 0;
	}

	.b-about-inner .b-text > img{
		width: 50%;
	}

	.b-team-item-photo{
		height: 18vw;
	}

	.b-team-item {
	    display: inline-block;
	    float: none;
	    width: calc(100%/4 - 18px);
	    margin-right: 20px;
	    vertical-align: top;
	}

	.b-team-item:nth-child(4n){
		margin-right: 0;
    	float: none;
	}
}

@media screen and (max-width: 1000px){

	.b-menu-items{
		display: none;
	}

	.b-top-content .contact-info{
		display: none;
	}

	ul.b-top-content li:nth-child(1){
		display: none;
	}

	.burger-menu{
		display: inline-block;
	}

	.b-services-item{
		width: calc(100%/3 - 12px);
    	margin-right: 14px;
	}

}


@media screen and (max-width: 945px){

	.b-case{
		text-align: center;
	}

	.b-case-item{
		float: none;
		display: inline-block;
		width: calc(100%/2 - 20px);
    	margin-right: 25px;
    	margin-bottom: 20px;
    	text-align: left;
	}

	.b-case-item:nth-child(2){
		margin-right: 0;
	}

	.b-case-item:last-child{
		margin-bottom: 0;
	}

	.b-services-app{
		left: 0;
		right: auto;
	}

	.period-items a{
		margin-right: 10px;
	}

	.b-calc .b-btn{
		width: 100%;
		min-width: auto;
	}

	.b-sub-form .b-btn{
		min-width: auto;
		width: 100%;
	}

	.b-case-list.b-services-items .b-case-item{
		padding-bottom: 55px;
    	margin-right: 20px;
    	margin-bottom: 20px;
	}

	.b-case-list.b-services-items .b-case-item:nth-child(2n){
		margin-right: 0;
	}

}

@media screen and (max-width: 900px){

	.b-team-item h3{
		font-size: 16px;
		line-height: 18px;
	}

	.choice-block .choice-item{
		width: 40%;
	}

}

@media screen and (max-width: 840px){
	.b-footer-column{
		width: 50%;
	}

	.b-footer-column:nth-child(2),
	.b-footer-column:nth-child(3){
		display: none;
	}
}